.middleLetter {
  color: white;
  text-align : center;
  font: Helvetica;
  font-size: 50px;
  margin-top: 50px;
  transition: color 0.5s;
}

.middleLetter:hover {
  color: rgb(146, 208, 80);
}

.mainLogoGrid {
  text-align: center;
  margin: 50px;
}
.mainLogoImage {
  width: 50%;
  height: auto;
  padding-left: 30px;
  padding-top: 10px;
}

.divideLine {
  width : 83%;
  border : solid 2px;
  color : white;
  margin : 10px auto;
}

.better {
  width: 25%;
  color: rgb(102, 103, 171);
  font : Helvetica;
  font-weight: bold;
  font-size: 36px;
  text-align: end;
  margin-left: 66.5%;
  transition: color 0.5s;
}

.better:hover {
  color : rgb(255,255,255);
}

.introBox {
  margin-top: 150px;
}

.meetingImage {
  width: 85%;
  height: auto;
}

.introLetter {
  text-align: end;
  color : white;
  font: Helvetica;
  font-weight: bold;
}

.title {
  font-size: 40px;
}

.content {
  font-size: 24px;
}